{% load ontotags %}{% load subdomainurls %}
<div class="page-header">
  <h3>	
	  Individuals   	  
  </h3>	  
</div>
<div class="well">
{% for instance in instancesData  %}
	 <a href="#{{instance.instancename}}">
		 {{instance.instancename}}
	 </a>
	 <br />
{% endfor %}
</div>
{% for instance in instancesData  %}
<div class="row">
  	<div class="page-header">
  	  <h3>
		 <a title="{{instance.instance}}" class="rdfinstance" name="{{instance.instancename}}">
			 &gt; {{instance.instancename}}
		 </a>
		  {% include "ontospyweb/components/backtotop.html" %}
  	  </h3>	  
  	</div>
</div>	
<div class="row entityDescriptionRow">
	<div class="col-sm-5 col-md-5">
		{% if instance.types %}
		<div id="parents">
			<br />
			<h4 class="text-muted">rdfs:type</h4>	
			<p class="rdfobject" style="margin-left: 20px;">
				{% for class in instance.types %}     
				<a title="{{class.class}}" class="rdfclass"
					{% if class.isdefined %} href="#{{class.classname}}"{% endif %} >{{class.classname|truncchar_inverse:50}}</a>
					{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}   
				{% endfor %}
  			</p>
		</div>
		{% endif %}
	</div>
	<div class="col-sm-7 col-md-6">  {# col-md-offset-1 #}
		<div id="triples">
		    {% for name, value in instance.alltriples  %}
				{% ifnotequal name "rdf:type"  %}
			  		{% ifchanged name %}
						<br />
						<h4>{{name}}</h4>
					{% endifchanged %}

			    	<p class="rdfobject" style="margin-left: 20px;">
			        	{{value|linebreaksbr}}
			   	 	</p>
				{% endifnotequal %}
		    {% endfor %}
		</div>
	</div>
</div>	
{% endfor %}

