{% load ontotags %}{% load subdomainurls %}


{% include "ontoview/components/namespaces.html" %}

<div class="navbar navbar-fixed-bottom bottom-footer" style="">
  <p class="muted credit text-center" style="padding: 20px;">Ontoview &copy; 2014
	  {# <a class="text-warning" href="{% url 'about' subdomain='schema' %}">About</a> |  #}
	  {# <a class="text-warning" href="{% url 'startsearch' subdomain='schema' %}">New Search</a> #}
</p>
	  
	  
</div>
