{% load ontotags %}{% load subdomainurls %}


<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{% url 'startsearch' subdomain='schema' %}">
		<code>Vocabulary Browser</code></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
	  
			{#<li class="{{request|menubar_getclass:''}}"> #}
			{# <a href="/">Home</a></li> #}
            <li class="{{request|menubar_getclass:'about'}}">
			<a href="{% url 'about' subdomain='schema' %}">About</a></li>	
			{#             <li class="{{request|menubar_getclass:'browser'}}"> #}
			{# <a href="/browser">Testing</a></li>		 #}						  
         </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
