{% load ontotags %}{% load subdomainurls %}

	<ul class="nav nav-tabs">
	    <li class="{{request|menubar_getclass:'ontology'}}">
			<a href="{% url 'ontology' subdomain='schema' %}?model={{ontoFile}}">Ontology</a></li>
	 	{# <li> #}
	 	{# 			<a href="#" >Source</a></li> #}	
			
        <li class="{{request|menubar_getclass:'classes'}}">
			<a href="{% url 'classes' subdomain='schema' %}?model={{ontoFile}}">Classes ({{TOTclasses}})</a>
		</li>
        <li class="{{request|menubar_getclass:'properties'}}">
			<a href="{% url 'properties' subdomain='schema' %}?model={{ontoFile}}">Properties ({{TOTproperties}})</a>
		</li>
        <li class="{{request|menubar_getclass:'individuals'}}">
			<a href="{% url 'individuals' subdomain='schema' %}?model={{ontoFile}}">Individuals ({{TOTindividuals}})</a>
		</li>			
	</ul>
