{% load ontotags %}{% load subdomainurls %}


<div id="classDiagram">
	
  
  {% for class in alltree_diagram  %}
  
  

  
	<div class="rounded-corners" style="height: {{class.size}}px; width: {{class.size}}px; background-color: {{class.color}}; 
	{% if not forloop.first %}margin-left: {{class.marginleft}}px; margin-top: {{class.margintop}}px;{% endif %}">
   	 	<p>
			<a class="title" title="{{class.el.class}}" href="{% url 'classes' subdomain='schema' %}?model={{ontoFile}}&resource={{class.el.class|encodeuri}}">
			    {% if forloop.last %}
				{{class.el.classname|truncchar_inverse:17}}
			    {% else %}
				{{class.el.classname|truncchar_inverse:25}}
			    {% endif %}
				
			</a>
		</p>
  
	  {# {% if forloop.last %}<a title="{{class.class}}" href="?model={{ontoFile}}&resource={{class.class|encodeuri}}">{{class.classname}}</a> #}
	  {# {% else %} #}
	  {# 		<a title="{{class.class}}" href="?model={{ontoFile}}&resource={{class.class|encodeuri}}">{{class.classname}}</a>&nbsp;> #}
	  {# 				{% endif %} #}
			
			
  {% endfor %}
	
	
	
  {% for class in alltree_diagram  %}
		</div>
  {% endfor %}
  
  
</div>
