
      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #EFEEEC;
      }
	  
	  .bottom-footer {
	  	background-image: linear-gradient(to bottom,#222,#111); 
		height: 60px;
	  }
	  
	  .namespaces {
		  padding: 40px;
	  }
	  
	  

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Ontoview Custom CSS
      -------------------------------------------------- */


	  .navbar .nav .active a {
		  background-color: #f7f7f9;
		  color: #d14;
		  font-size: 120%;
		  border-bottom: white 1px solid;
	  }
	  .navbar .nav .active a:hover {
		  background-color: #f7f7f9;
		  color: #d14;
	  }	  	  
      #wrap > .container {
        padding-top: 40px;
      }	  
	  .nav-tabs {
		  margin-bottom: 40px;
	  }  
      .container .credit {
        margin: 20px 0;
      }
      code {
        font-size: 80%;
      }
	  
	  /*note: this does not have effect on class/prop trees */
      .propcolor {color: darkcyan;}
	  .propcolor:hover {color: darkgreen;}
		
	  .rdfentity {
		  background: white;
		  border: 1px solid #e1e1e8;
		  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
		  font-size: 70%;
	  }	
	  
	  .rdfclass {
		  color: #C00000;
	  }
		
	
	  .rdfinstance {
	  	color: #0C6D33;
	  }		
		
		  
	  #stats_table td {vertical-align: middle;}
	  #stats_table p {margin: 10px 0px 10px 0px;}
	  
	  div.pushup {margin-bottom: 100px;}
	  
	  
	  /* css for class and property trees using schema.org style */
	  
	  table.h, .h tr, .h td
	  	{
	  		border: none;
	  		margin: 0;
	  		padding: 0;
	  		border-collapse: collapse; 
			font-size: 16px;
			line-height: 22px;
	  	}
	  .h .space
	  	{
	  		width: 20px
	  	}
	  .h .bar
	  	{
	  		background-color: #000;
	  		width: 1px
	  	}
	  .h .tc
	  	{
	  		text-indent: -21px;
	  		padding-left: 21px
	  	}
		

	   table.h a:link
		{
			color: #d9230f;
			text-decoration: none;
			border-bottom: dotted 1px #d9230f;
		}
	   table.h a:visited
		{
			color: #990000;
			text-decoration: none;
			border-bottom: dotted 1px #990000;
		}
	  table.h a:hover
		{
			border-bottom: none;
			color: #fff;
			background-color: #d9230f;
			text-decoration: none;
		}
	
	
 	   table.h.propcolor a:link
 		{
 			color: darkcyan;
 			text-decoration: none;
 			border-bottom: dotted 1px green;
 		}
 	   table.h.propcolor a:visited
 		{
 			color: darkgreen;
 			text-decoration: none;
 			border-bottom: dotted 1px #990000;
 		}
 	  table.h.propcolor a:hover
 		{
 			border-bottom: none;
 			color: #fff;
 			background-color: darkcyan;
 			text-decoration: none;
 		}
		
			
		
	  /* css for property-tables in class views	*/
	  /* --------------------------------------	*/
	  
	  
  	  table.classproperties {border: 1px solid #98A0A6; border-collapse: separate; border-spacing: 6px;}
  	  table.classproperties tr {text-align: left;}
  	  table.classproperties td {padding: 10px;}
  	  table.classproperties td.firsttd {width: 20%; background: #EEEEEE;}
  	  table.classproperties td.secondtd {width: 20%;}
	  table.classproperties th {background: #EEEEEE; padding-left: 5px;}
	  
	  table.classproperties h4 {color: gray;}
      


/*	  squares for class diagram*/

  	#classDiagram {
  		margin-top: 100px;
  		margin-bottom: 100px;
  	}
	
  	#classDiagram .rounded-corners {
  		border-width: 2px;
  		border-style: solid;
  		border-color: black; /* or hex color code #000000 */
  		/* Round the corners */
  		border-radius: 15px;
  		-moz-border-radius: 15px;
  		-webkit-border-radius: 15px;		
  	}

  	#classDiagram a.title {
  		margin: 5px 0px 0px 13px;
  		color: black;
  		text-decoration: none;
  /*		border-bottom: dotted 1px black;		*/
  	}
  	#classDiagram a.title:hover {
  		text-decoration: underline;		
  	}	

