{% extends "ontoview/base.html" %}



{% block pagecontents %}




<div class="page-header">
  <h2>In a nutshell</h2>
</div>

<p class="lead">This is a tool made for navigating models ('<a href="http://www.w3.org/standards/semanticweb/ontology">vocabularies</a>') encoded using the RDF family of languages which are part of the <a href="http://www.w3.org/standards/semanticweb/">W3C Semantic Web</a> standards. 
</p>

<br />
<p>
<blockquote>
The Resource Description Framework (RDF) is a general-purpose language for representing information in the Web. [...]
RDF's vocabulary description language, RDF Schema, is a semantic extension of RDF. It provides mechanisms for describing groups of related resources and the relationships between these resources. [...]
The RDF vocabulary description language class and property system is similar to the type systems of object-oriented programming languages such as Java. RDF differs from many such systems in that instead of defining a class in terms of the properties its instances may have, the RDF vocabulary description language describes properties in terms of the classes of resource to which they apply. This is the role of the domain and range mechanisms [...]
<br />
(<a href="http://www.w3.org/TR/rdf-schema/">http://www.w3.org/TR/rdf-schema/</a>)
</blockquote>
</p>


<br />
	
<div class="page-header">
<h3>Credits</h3>
</div>

<p class="lead">

    Made with <a href="https://www.djangoproject.com/">Django</a>, <a href="https://github.com/RDFLib">RDFlib</a>, <a href="https://github.com/lambdamusic/ontosPy">OntosPy</a>, 
    <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>.
	Layout inspired by <a href="http://www.schema.org/">schema.org</a>.
    
</p>


<p class="lead">
    Source code available on <a href="http://github.com/lambdamusic/django-semantic-browser">Github</a>.
    
</p>





{% endblock pagecontents %} 