{% extends "layout.html" %}

{% load ontotags %}{% load staticfiles %}{% load subdomainurls %}{% load uchikoma %}

{% block site_title %}Linked Data Vocabulary Browser{% endblock %}

{% block body %}
  <body class="nav-md">
    <div id="wrap">
		{% if ontoFile %}
			{% include "ontoview/components/navbar_onto.html" %}
		{% else %}
			{% include "ontoview/components/navbar_home.html" %}
		{% endif %}
		{% if messages %}
		    {% for message in messages %}
		        <div class="lead alert alert-{{message.tags}} text-center message-div" style="margin-top: 42px;">
		            <button type="button" class="close" data-dismiss="alert">×</button>
		            {{ message|safe }}
		        </div>
		    {% endfor %}
				<script type="text/javascript">
					setTimeout(function(){$("div.message-div").slideUp("slow")}, 5000);
				</script>
		{% endif %}
      <div class="container" style="margin-top: 50px;">
		 {% block pagecontents %}
            {% block content %}
                {# page contents #}
            {% endblock %}
		 {% endblock pagecontents %} 
	  </div>
      <div id="push"></div>
    </div>
    <div id="footer" {% if namespaces %}style="height: inherit; "{% endif %}>	
		{% include "ontoview/components/footer.html" %}
    </div>
{% endblock %}

{% block styles %}
	<link href="{% static 'ontoview/that.css' %}" rel="stylesheet">
{% endblock %}

{% block app %}
<script type="text/javascript">
</script>
{% endblock %}

